.main {
    h1, p {
        text-align: center;
    }
}


.collectionItems {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
    .portfolioCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(33% - 20px);
        margin-bottom: 40px;
        overflow: hidden;
    }
}

.loadMore {
    background: #8c989e;
    color: #ffffff;
    border: none;
    display: block;
    margin: 40px auto;
    padding: 20px 40px;
    cursor: pointer;
    transition: all 0.25s ease;
    &:hover {
        background: #b1bfc6;
    }
}

